.streamlit
.ipynb_checkpoints
.streamlit/secrets.toml
.env
user_config.json
firebase-key.json
config.yaml


database.db
dwell.db

.venv/
__pycache__/
analytics/
uploads/
support/

oldcode/
experiments/
auth/providers/stripe_service.py
auth/providers/streamlit_auth_provider.py
auth/providers/dwell_descriptions.json

user_profile.txt

