.streamlit
.ipynb_checkpoints
.streamlit/secrets.toml
.env
user_config.json
filebase-key.json

.venv/
__pycache__/
analytics/
uploads/

database.db
dwell.db

old_code/
experiments/
auth/providers/stripe_service.py
auth/providers/streamlit_auth_provider.py
auth/providers/dwell_descriptions.json
user_profile.txt